@{
    ViewData["Title"] = "Welcome to ScrewDepot";
}

<div class="text-center">
    <h1 class="display-4">Our Products:</h1>
    <p>Best Screws<a href="https://docs.microsoft.com/aspnet/core">: Fastening Excellence in Every Turn</a>!</p>
    <img  src="~/imgs/concretehwhslt.jpg"/>
    <img src="~/imgs/screws-deck-phillips-bugle-partially-threaded-stainless.jpg" />
</div>
 